:local(.main_block) {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;

  :local(.login_wrap) {
    width: 400px;
    height: 400px;
    margin: auto;
    top: calc(50% - 200px);
    position: relative;
    box-sizing: border-box;
    :local(.logo) {
      height: 75px;
      box-sizing: border-box;
      background-repeat: no-repeat;
      background-image: url('../../assets/images/splash.svg');
      background-position: center;
      background-size: contain;
    }

    :local(.progress){
      > div{
        left: 50%;
        margin-left: -25px !important;
        margin-top: 10px !important;
        margin-bottom: 10px !important;
      }
    }
  }
}