html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;

    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        height: 100%;
        background-color: #0E2B3A;
        overflow: hidden;
        font-family: 'Roboto', sans-serif;

        #app {
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
    }
}
